<div class="search_index text-center px-0 py-3">
  <%= form_tag({controller: '/pictures', action: :search }, method: :get) do %>
    <div class="form-group text-center">
      <div class="custom-control custom-radio" style="display: inline-block;">
        <%= radio_button_tag :gender, :female, true, id: :gender1, class: 'custom-control-input' %>
        <label for="gender1" class="custom-control-label">レディース</label>
      </div>
      <div class="custom-control custom-radio" style="display: inline-block;">
        <%= radio_button_tag :gender, :male, false, id: :gender2, class: 'custom-control-input' %>
        <label for="gender2" class="custom-control-label">メンズ</label>
      </div>
    </div>

    <div class="form-group text-center">
        <label style="display: block;">地域</label>
        <select name="area" id="prefecture" class="form-control selectbox" style="max-width: 350px; display: inline-block;">
          <option value="">全国</option>
          <% Prefecture.all.each.with_index(1) do |prefecture, i| %>
            <% if i == 1 %>
              <optgroup label="北海道・東北">
            <% elsif i == 8 %>
              </optgroup>
              <optgroup label="関東">
            <% elsif i == 15 %>
              </optgroup>
              <optgroup label="甲信越・北陸">
            <% elsif i == 21 %>
              </optgroup>
              <optgroup label="東海">
            <% elsif i == 25 %>
              </optgroup>
              <optgroup label="関西">
            <% elsif i == 31 %>
              </optgroup>
              <optgroup label="中国">
            <% elsif i == 36 %>
              </optgroup>
              <optgroup label="四国">
            <% elsif i == 40 %>
              </optgroup>
              <optgroup label="九州・沖縄">
            <% end -%>
            <option value="<%= prefecture.id %>"><%= prefecture.name %> (<%= prefecture.pictures_count %>)</option>
          <% end -%>
          </optgroup>
        </select>
    </div>

    <div id="municipalities" class="form-group checkbox row">
      <%= render 'search/municipalities' %>
    </div>

    <div class="form-group checkbox">
      <label>
        <%= check_box_tag 'length[]', 'veryshort', false, {} %>
        <span>ベリーショート</span>
      </label>
      <label>
        <%= check_box_tag 'length[]', 'short', false, {} %>
        <span>ショート</span>
      </label>
      <label>
        <%= check_box_tag 'length[]', 'medium', false, {} %>
        <span>ミディアム</span>
      </label>
      <br>
      <label>
        <%= check_box_tag 'length[]', 'semilong', false, {} %>
        <span>セミロング</span>
      </label>
      <label>
        <%= check_box_tag 'length[]', 'long', false, {} %>
        <span>ロング</span>
      </label>
    </div>

    <button type="submit" class="btn">
      <div class="search"></div>
    </button>

    <div class="search_footer">
      <button type="submit" class="btn">
        <div class="search"></div>
      </button>
    </div>
  <% end -%>
</div>

<script>
  $('#prefecture').change(function() {
    $.ajax({
      url: "/search/prefecture_change",
      type: "get",
      data: {prefecture: $(this).val()},
      dataType: "script",
      success: function(data) {
      },
      error: function(data) {
      }
    });
  });
</script>