<% if user_signed_in? %>
  <div class="like text-center" id="like_area<%= picture.id.to_s %>">
    <% if picture.like_user(current_user.id) %>
      <%= link_to likes_like_path(id: picture.id), remote: true do %>
        <%= image_tag('heart.png') %>
      <% end -%>
      <p class="likes_count"><%= picture.likes.count %></p>
    <% else %>
      <%= link_to likes_like_path(id: picture.id), remote: true do %>
        <%= image_tag('heart_empty.png') %>
      <% end -%>
      <p class="likes_count"><%= picture.likes.count %></p>
    <% end -%>
  </div>
<% end %>