<div class="rankings_area">
  <div class="feed_page">
    <div class="feed_title"><%= page_entries_info @likes %></div>
    <div class="feed">
      <%= paginate @likes %>
    </div>
  </div>

  <div class="top_button_area" >
    <%= link_to :back do  %>
      <div class="conflict_link">
        <p>戻る</p>
      </div>
    <% end -%>
  </div>

  <p class="show_guide_text">画像をクリックすると詳細が見れます</p>

  <% @likes.each.with_index(1) do |like, i| %>
    <div>
      <%= link_to(image_tag(like.picture.url + 'media/?size=m'), picture_path(like.picture)) %>
    </div>
  <% end -%>

  <div class="feed_page">
    <div class="feed_title"><%= page_entries_info @likes %></div>
    <div class="feed">
      <%= paginate @likes %>
    </div>
  </div>

</div>