<% @users.each do |user| %>
  <div class="admin_users">
    <P>ID        :<%= user.id %></P>
    <P>名前      :<%= user.name %></P>
    <P>ユーザータイプ:<%= user.role %></P>
    <P>プロバイダー :<%= user.provider %></P>
    <P>メールアドレス:<%= user.email %></P>

    <%= link_to '詳細', user_path(user) %>
  </div>
<% end -%>
<%= page_entries_info @users %>
<%= paginate @users %>