<%= form_for(@user, url: stylist_path(@user), html: { method: :patch }) do |f| %>

  <div class="form-group col-sm-6 col-md-4">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-6 col-md-4">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-8 col-md-6">
    <%= f.label :profile %>
    <%= f.text_area :profile, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-8 col-md-6">
    <%= f.label :picture %>
    <%= f.file_field :picture, name: 'picture', id: 'picture', class: 'form-control', onchange: 'previewFile("picture", "#picture")' %>
    <div class="col-12 text-center">
      <%= image_tag(display_picture(size: "m", name: @user.picture, dir: 'PROFILE_PICTURE_DIR'), alt: '', style: 'max-width: 300px;', name: 'picture') %>
    </div>
  </div>

  <%= f.fields_for :stylist do |s| %>
    <div class="form-group col-sm-8 col-md-6">
      <%= s.label :shop_name %>
      <%= s.text_field :shop_name, class: 'form-control' %>
    </div>

    <div class="form-group col-sm-11 col-md-9">
      <%= s.label :shop_address %>
      <%= s.text_field :shop_address, class: 'form-control' %>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <%= s.label :shop_phone_number %>
      <%= s.text_field :shop_phone_number, class: 'form-control' %>
    </div>
  <% end -%>

  <div class="form-group col-sm-6 col-md-4">
    <%= f.submit "更新", class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>