<div class="news" id="news_<%= pictures.current_page %>">
  <% length = pictures.length %>
  <% pictures.each.with_index do |picture, i| %>
    <div class="square-wrapper">
      <div class="spacer">
        <% prev_id = (i - 1 < 0) ? nil : pictures[i - 1].id %>
        <% next_id = (i + 1 >= length) ? nil : pictures[i + 1].id %>
        <div id="prev_next_<%= picture.id %>" class="<%= i+1 %>" style="display: none;">
          <span class="_page"><%= pictures.current_page %></span>
          <span class="_prev"><%= prev_id %></span>
          <span class="_current"><%= picture.id %></span>
          <span class="_next"><%= next_id %></span>
        </div>
        <span onclick="picture_big('link_<%= picture.id %>')" class="link_span" id="link_<%= picture.id %>">
          <%= image_tag display_picture(size: "m", name: picture.picture_details[0].name, dir: 'HAIR_PICTURE_DIR') %>
        </span>
      </div>
    </div>
    <div class="text_area">
      <%= render 'likes/like', picture: picture %>

      <div class="picture_show_stylist_profile_area">
        <% if picture.user.admin? && picture.picture_option.present? %>
          <p class="stylist_name">スタイリスト:<%= picture.picture_option.name %></p>
          <spam class="profile"><%= simple_format(picture.picture_option.profile) %></span>
          <div class="shop_area">
            <p class="shop_name">店名:<%= picture.picture_option.shop_name %></p>
          </div>
        <% elsif picture.user.stylist.present? %>
          <p class="stylist_name">スタイリスト:<%= picture.user.name %></p>
          <% if picture.user.picture.present? %>
            <div class="col-12 text-center">
              <%= link_to 'プロフィール', user_path(picture.user), class: 'btn btn-primary btn-lg my-2' %>              
              <%= image_tag(display_picture(size: "s", name: picture.user.picture, dir: 'PROFILE_PICTURE_DIR'), alt: '画像') %>
            </div>
          <% end -%>
          <span class="profile"><%= simple_format(truncate(picture.user.profile, length: 100)) %></span>
          <div class="shop_area">
            <p class="shop_name">店名:<%= picture.user.stylist.shop_name %></p>
            <p>住所:<%= picture.user.stylist.shop_address %></p>
            <p>電話番号:<%= picture.user.stylist.shop_phone_number %></p>
          </div>
        <% end -%>
      </div>
      <p>長さ:<%= length_view(picture.length) %></p>
      <p>カラー:<%= color_view(picture.color) %></p>
    </div>
  <% end -%>
</div>