<div class="modal fade" id=<%= "modal#{picture.id}" %> tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document" style="min-width: 90%;">
    <div class="modal-content">
      <div class="row" style="height: auto; max-height: 100%;">
        <div class="button_area col-12 row">
          <div class="col-4">
            <%#= link_to '前へ', homes_previous_path(id: previous), remote: true %>
          </div>
          <div class="col-4 py-2 px-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="col-4">
            <%#= link_to '次へ', homes_next_path, remote: true %>
          </div>
        </div>
        <div class="contants_area col-12 row">
          <div class="col-sm-3">
            <% if user_signed_in? && (picture.user_id == current_user.id || current_user.admin) %>
              <div>
                <%= link_to 'Edit', edit_picture_path(picture) %> |
                <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% if current_user.admin %>
                  <div>
                    <%= link_to '詳細画面へ', picture, target: '_blank' %>
                  </div>                
                <% end -%>
              </div>
            <% end -%>

            <%= link_to 'インスタでみる', picture.url, target: '_blank' %>
            <div class="show_text_area">
              <%= render 'likes/like', picture: picture %>

              <div class="picture_show_stylist_profile_area">
                <% if picture.user.admin? && picture.picture_option.present? %>
                  <p class="stylist_name">スタイリスト:<%= picture.picture_option.name %></p>
                  <spam class="profile"><%= simple_format(picture.picture_option.profile) %></span>
                  <div class="shop_area">
                    <p class="shop_name">店名:<%= picture.picture_option.shop_name %></p>
                    <p>住所:<%= picture.picture_option.shop_address %></p>
                    <p>電話番号:<%= picture.picture_option.shop_phone_number %></p>
                  </div>
                <% elsif picture.user.stylist.present? %>
                  <p class="stylist_name">スタイリスト:<%= picture.user.name %></p>
                    <spam class="profile"><%= simple_format(picture.user.profile) %></span>
                    <div class="shop_area">
                      <p class="shop_name">店名:<%= picture.user.stylist.shop_name %></p>
                      <p>住所:<%= picture.user.stylist.shop_address %></p>
                      <p>電話番号:<%= picture.user.stylist.shop_phone_number %></p>
                    </div>
                <% end -%>
              </div>
              <p>長さ:<%= picture.length %></p>
              <p>カラー:<%= picture.color %></p>
            </div>
          </div>
          <div class="show_picture_area col-sm-9">
            <%= image_tag(picture.url + 'media/?size=l', class: 'show_picture', onError: "img_blank(#{picture.id})", alt: '画像読み込みエラー') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>