<div class="top_text">
  <p>投票に参加ボタンを押すと、２枚のヘアカットが表示されます、いいと思ったヘアスタイルを選んでください。</p>
  <p>ログインして投票に参加すると、あなただけのランキングが作成されたり、投票履歴を見たりする事ができます。</p>
</div>

<div class="top_button_area" >
  <% unless user_signed_in? %>
    <%= link_to new_user_session_path do  %>
      <div class="login_link">
        <p>ログイン</p>
      </div>
    <% end -%>
  <% end -%>

  <%= form_tag(conflict_index_path) do %>
    <%= select_tag :area, options_for_select(['全国', '東京', '愛知'], selected: @area_default) %>
    <%= select_tag :length, options_for_select(['すべて', 'ベリーショート', 'ショート', 'ミディアム', 'セミロング', 'ロング', 'ヘアセット'], selected: @length_default) %>
    <%= submit_tag '投票', class: 'conflict_link' %>
  <% end -%>
</div>

<div class="top_contents">
  <h2>写真をクリックすると詳細画面に飛びます。</h2>
  <div class="all_ranking">
    <p>ショート</p>
    <% @short_rankings.each.with_index(1) do |picture, i| %>
      <div>
        <p><%= i %>位 <%= picture.rating %>ポイント</p>
        <%= link_to(image_tag(picture.picture_url), picture_path(picture)) %>
      </div>
    <% end -%>
    <%= link_to 'もっと見る', short_ranking_pictures_path, class: 'more' %>
  </div>
  <div class="win_count">
    <p>ミディアム</p>
    <% @midiamu_ranking.each.with_index(1) do |picture, i| %>
      <div>
        <p><%= i %>位 <%= picture.rating %>ポイント</p>
        <%= link_to(image_tag(picture.picture_url), picture_path(picture)) %>
      </div>
    <% end -%>
    <%= link_to 'もっと見る', midiamu_ranking_pictures_path, class: 'more' %>
  </div>
  <div class="win_count">
    <p>ロング</p>
    <% @long_ranking.each.with_index(1) do |picture, i| %>
      <div>
        <p><%= i %>位 <%= picture.rating %>ポイント</p>
        <%= link_to(image_tag(picture.picture_url), picture_path(picture)) %>
      </div>
    <% end -%>
    <%= link_to 'もっと見る', long_ranking_pictures_path, class: 'more' %>
  </div>

  <% if user_signed_in? %>
    <div class="user_history">
      <p>投票履歴</p>
      <% @user_histories.each.with_index(1) do |picture, i| %>
        <div>
          <p><%= picture.rating %>ポイント</p>
          <%= link_to(image_tag(picture.picture.picture_url), picture_path(picture.picture)) %>
        </div>
      <% end -%>
      <%= link_to 'もっと見る', my_histories_pictures_path, class: 'more' %>
    </div>
  <% end -%>
</div>

<div class="footer">
  footer
</div>