<div class="top_text">
  <p>投票に参加ボタンを押すと、２枚のママコーデが表示されます、いいと思った物を選んでください。</p>
  <p>ログインして投票に参加すると、あなただけのランキングが作成されたり、投票履歴を見たりする事ができます。</p>
</div>

<div class="top_button_area" >
  <%= link_to conflict_index_path do  %>
    <div class="conflict_link">
      <p>投票に参加</p>
    </div>
  <% end -%>
</div>

<div class="top_contents">
  <div class="all_ranking">
    <p>ポイントランキング</p>
    <% @rankings.each.with_index(1) do |picture, i| %>
      <div>
        <p><%= i %>位 <%= picture.rating %>ポイント</p>
        <%= link_to(image_tag(picture.url + 'media/?size=t'), picture_path(picture)) %>
      </div>
    <% end -%>
  </div>
  <div class="win_count">
    <p>投票された数ランキング</p>
    <% @win_counts.each.with_index(1) do |picture, i| %>
      <div>
        <p><%= i %>位 <%= picture.win %>回</p>
        <%= link_to(image_tag(picture.url + 'media/?size=t'), picture_path(picture)) %>
      </div>
    <% end -%>
  </div>
  <% if user_signed_in? %>
    <div class="user_ranking">
      <p>あなたの中のランキング</p>
      <% @user_rankings.each.with_index(1) do |picture, i| %>
        <div>
          <p><%= i %>位 <%= picture.rating %>ポイント</p>
          <%= link_to(image_tag(picture.picture.url + 'media/?size=t'), picture_path(picture.picture)) %>
        </div>
      <% end -%>
    </div>
    <div class="user_history">
      <p>投票履歴</p>
      <% @user_histories.each.with_index(1) do |picture, i| %>
        <div>
          <p><%= picture.rating %>ポイント</p>
          <%= link_to(image_tag(picture.picture.url + 'media/?size=t'), picture_path(picture.picture)) %>
        </div>
      <% end -%>
    </div>
  <% end -%>
</div>