<div class="top_text">
  <p>投票に参加ボタンを押すと、２枚のヘアカットが表示されます、いいと思ったヘアスタイルを選んでください。</p>
  <p>ログインして投票に参加すると、あなただけのランキングが作成されたり、投票履歴を見たりする事ができます。</p>
</div>

<div class="top_button_area" >
  <% unless user_signed_in? %>
    <%= link_to new_user_session_path do  %>
      <div class="login_link">
        <p>ログイン</p>
      </div>
    <% end -%>
  <% end -%>

  <%= form_tag(conflict_index_path, method: :get) do %>
    <%= select_tag :area, options_for_select(['全国', '東京', '愛知'], selected: @area_default) %><br><br>
    <%#= select_tag :length, options_for_select(['すべて', 'ベリーショート', 'ショート', 'ミディアム', 'セミロング', 'ロング', 'ヘアセット', 'ミセス'], selected: @length_default) %>
    <div class="top_label_area">
      <label>
        <% if session[:length_default].present? %>
          <% value = session[:length_default].include?("ベリーショート") ? true : false %>
        <% end -%>
        <%= check_box_tag 'length[]', 'ベリーショート', checked = value %>
        <span>ベリーショート</span>
      </label>
      <label>
        <% if session[:length_default].present? %>
          <% value = session[:length_default].include?("ショート") ? true : false %>
        <% end -%>
        <%= check_box_tag 'length[]', 'ショート', checked = value %>
        <span>ショート</span>
      </label>
      <label>
        <% if session[:length_default].present? %>
          <% value = session[:length_default].include?("ミディアム") ? true : false %>
        <% end -%>
        <%= check_box_tag 'length[]', 'ミディアム', checked = value %>
        <span>ミディアム</span>
      </label>
      <br>
      <label>
        <% if session[:length_default].present? %>
          <% value = session[:length_default].include?("セミロング") ? true : false %>
        <% end -%>
        <%= check_box_tag 'length[]', 'セミロング', checked = value %>
        <span>セミロング</span>
      </label>
      <label>
        <% if session[:length_default].present? %>
          <% value = session[:length_default].include?("ロング") ? true : false %>
        <% end -%>
        <%= check_box_tag 'length[]', 'ロング', checked = value %>
        <span>ロング</span>
      </label>
    </div>
    <br>
    <br>
    <%= submit_tag '投票', class: 'conflict_link' %>
  <% end -%>
</div>

<div class="top_contents">
  <h2>写真をクリックすると詳細画面に飛びます。</h2>
  <div class="ranking">
    <% @ranking.each.with_index(1) do |picture, i| %>
      <div class="square-wrapper">
        <div class="spacer">
          <%= link_to(image_tag(picture.url + 'media/?size=m'), picture_path(picture)) %>
        </div>
      </div>
    <% end -%>
  </div>

</div>

<div class="footer">
  footer
</div>