<div class="top_text">
  <p>投票に参加ボタンを押すと、２枚のヘアカットが表示されます、いいと思ったヘアスタイルを選んでください。</p>
  <p>ログインして投票に参加すると、あなただけのランキングが作成されたり、投票履歴を見たりする事ができます。</p>
</div>

<div class="top_button_area" >
  <% unless user_signed_in? %>
    <%= link_to 'ユーザー登録', new_user_registration_path, class: 'btn btn-info btn-lg' %>
    <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary btn-lg' %>
  <% end -%>

  <%= form_tag(conflict_index_path, method: :get) do %>
    <div class="form-group text-center">
      <div class=" row">
        <div class="offset-sm-3 col-sm-6">
          <label>地域</label>
          <%= select_tag :area, options_for_select(['全国', '東京', '愛知'], selected: @area_default), class: 'form-control' %>
        </div>
      </div>
    </div>
    
    <div class="top_label_area">
      <label>
        <% if session[:length_default].present? %>
          <% value = session[:length_default].include?("ベリーショート") ? true : false %>
        <% end -%>
        <%= check_box_tag 'length[]', 'ベリーショート', checked = value %>
        <span>ベリーショート</span>
      </label>
      <label>
        <% if session[:length_default].present? %>
          <% value = session[:length_default].include?("ショート") ? true : false %>
        <% end -%>
        <%= check_box_tag 'length[]', 'ショート', checked = value %>
        <span>ショート</span>
      </label>
      <label>
        <% if session[:length_default].present? %>
          <% value = session[:length_default].include?("ミディアム") ? true : false %>
        <% end -%>
        <%= check_box_tag 'length[]', 'ミディアム', checked = value %>
        <span>ミディアム</span>
      </label>
      <br>
      <label>
        <% if session[:length_default].present? %>
          <% value = session[:length_default].include?("セミロング") ? true : false %>
        <% end -%>
        <%= check_box_tag 'length[]', 'セミロング', checked = value %>
        <span>セミロング</span>
      </label>
      <label>
        <% if session[:length_default].present? %>
          <% value = session[:length_default].include?("ロング") ? true : false %>
        <% end -%>
        <%= check_box_tag 'length[]', 'ロング', checked = value %>
        <span>ロング</span>
      </label>
    </div>
    <br>
    <br>
    <%= submit_tag '投票', class: 'btn btn-primary btn-lg' %>
  <% end -%>
</div>

<div id="top_contents">
  <h2>写真をクリックすると詳細画面に飛びます。</h2>
  <h3>おすすめ</h3>
  <div class="ranking">
    <% length = @ranking.length %>
    <% @ranking.each.with_index do |picture, i| %>
      <div class="square-wrapper">
        <div class="spacer">
          <% prev_id = (i - 1 < 0) ? nil : @ranking[i - 1].id %>
          <% next_id = (i + 1 >= length) ? nil : @ranking[i + 1].id %>
          <div id="prev_next_<%= picture.id %>" style="display: none;">
            <span class="_prev"><%= prev_id %></span>
            <span class="_next"><%= next_id %></span>
          </div>
          <%= link_to(image_tag(picture.url + 'media/?size=m'),
              '',
              data: { href: picture_path(picture,
                  prev_id: prev_id,
                  next_id: next_id),
                toggle: 'modal',
                target: "#modal_area"}) %>
        </div>
      </div>
    <% end -%>
  </div>
  <h3>新着</h3>
  <%= render 'news' %>
</div>

<div class="modal fade" id="modal_area" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document" style="min-width: 90%;">
    <div class="modal-content">
    </div>
  </div>
</div>
<script>
$(function () {
  //任意のリンクをモーダル内に読み込む
  $('#modal_area').on("show.bs.modal", function(e) {
    var link = $(e.relatedTarget); //クリックしたセルのオブジェクトデータ
    $(this).find(".modal-content").load(link.attr("data-href"));
  });
});
</script>

<div class="navigation" style="visibility: hidden;">
  <%= paginate @pictures %>
</div>
<%# 無限スクロールのJS path の中の append の部分を追加する %>
<script>
  $('#top_contents').infiniteScroll({
    path: '.navigation a[rel=next]',
    append: '.news',
    history: false
  });
</script>

<div class="footer">
  footer
</div>