<div class="rankings_area">
  <h2>10回の投票履歴</h2>

  <div class="top_button_area" >
    <%= form_tag(conflict_index_path, method: :get) do %>
      <%= select_tag :area, options_for_select(['全国', '東京', '愛知'], selected: @area_default) %><br><br>
      <%#= select_tag :length, options_for_select(['すべて', 'ベリーショート', 'ショート', 'ミディアム', 'セミロング', 'ロング', 'ヘアセット', 'ミセス'], selected: @length_default) %>
      <div class="top_label_area">
        <label>
          <% if session[:length_default].present? %>
            <% value = session[:length_default].include?("ベリーショート") ? true : false %>
          <% end -%>
          <%= check_box_tag 'length[]', 'ベリーショート', checked = value %>
          <span>ベリーショート</span>
        </label>
        <label>
          <% if session[:length_default].present? %>
            <% value = session[:length_default].include?("ショート") ? true : false %>
          <% end -%>
          <%= check_box_tag 'length[]', 'ショート', checked = value %>
          <span>ショート</span>
        </label>
        <label>
          <% if session[:length_default].present? %>
            <% value = session[:length_default].include?("ミディアム") ? true : false %>
          <% end -%>
          <%= check_box_tag 'length[]', 'ミディアム', checked = value %>
          <span>ミディアム</span>
        </label>
        <br>
        <label>
          <% if session[:length_default].present? %>
            <% value = session[:length_default].include?("セミロング") ? true : false %>
          <% end -%>
          <%= check_box_tag 'length[]', 'セミロング', checked = value %>
          <span>セミロング</span>
        </label>
        <label>
          <% if session[:length_default].present? %>
            <% value = session[:length_default].include?("ロング") ? true : false %>
          <% end -%>
          <%= check_box_tag 'length[]', 'ロング', checked = value %>
          <span>ロング</span>
        </label>
      </div>
      <br>
      <br>
      <%= submit_tag '投票を続ける', class: 'btn btn-primary btn-lg' %>
    <% end -%>

    <%= link_to 'トップへ戻る', root_path, class: 'btn btn-success btn-lg' %>        
  </div>

  <p class="show_guide_text">画像をクリックすると詳細が見れます</p>

  <% @pictures.each.with_index(1) do |picture, i| %>
    <div class="result_picture_area">
      <%= link_to(image_tag(picture.url + 'media/?size=t'), picture_path(picture)) %>
      <%= render 'likes/like', picture: picture %>
    </div>
  <% end -%>

  <div class="top_button_area" >
    <%= link_to(root_path) do  %>
      <div class="conflict_link">
        <p>トップへ戻る</p>
      </div>
    <% end -%>
  </div>
</div>