<div class="add_button button_<%= i %> col-sm-6 col-md-4 text-right">
  <span style="color: red;">写真は5枚まで選択できます。</span><a class="btn btn-info" onclick="file_field_add(<%= i %>);">追加</a>
</div>
<div class="picture_upload_area file_<%= i %> form-group col-sm-6 col-md-4">
  <%= select_tag 'picture_genre[]', options_for_select([['フロント', 'picture_front'],
                                    ['サイド', 'picture_side'],
                                    ['バック', 'picture_back'],
                                    ['その他', 'other']]),
                                    {class: 'form-control', name: "picture_detail[#{i}][genre]"} %>
  <%= f.file_field 'picture_file[]',
    # name: picture_detail+i.to_s,
    name: "picture_detail[#{i}][file]",
    id: "picture_"+i.to_s,
    class: 'form-control',
    onchange: "previewFile('"+"picture_"+i.to_s+"')",
    accept: 'image/*' %>
  <%= image_tag '', name: "picture_"+i.to_s %>
</div>