<%= form_for(picture) do |f| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2 style="color: red;"><%= pluralize(picture.errors.count, "つのエラーにより") %>投稿に失敗しました。</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li style="color: red;"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-6 col-md-4">
    <div class="custom-control custom-radio">
      <%= f.radio_button :gender, :female, id: :gender1, class: 'custom-control-input', checked: true %>
      <label for="gender1" class="custom-control-label">レディース</label>
    </div>
    <div class="custom-control custom-radio">
      <%= f.radio_button :gender, :male, id: :gender2, class: 'custom-control-input' %>
      <label for="gender2" class="custom-control-label">メンズ</label>
    </div>
  </div>

  <% if controller.action_name == "new" || controller.action_name == "create" %>
    <div class="picture_upload_area form-group col-sm-6 col-md-4">
      <%= f.label 'フロント' %>
      <%= f.file_field :picture_front, name: 'picture_front', id: 'picture_front', class: 'form-control', onchange: 'previewFile("picture_front", "#picture_front")', accept: 'image/*' %>
      <%= image_tag '', name: 'picture_front' %>
    </div>

    <div class="picture_upload_area form-group col-sm-6 col-md-4">
      <%= f.label 'サイド' %>
      <%= f.file_field :picture_side, name: 'picture_side', id: 'picture_side', class: 'form-control', onchange: 'previewFile("picture_side", "#picture_side")', accept: 'image/*' %>
      <%= image_tag '', name: 'picture_side' %>
    </div>

    <div class="picture_upload_area form-group col-sm-6 col-md-4">
      <%= f.label 'バック' %>
      <%= f.file_field :picture_back, name: 'picture_back', id: 'picture_back', class: 'form-control', onchange: 'previewFile("picture_back", "#picture_back")', accept: 'image/*' %>
      <%= image_tag '', name: 'picture_back' %>
    </div>
  <% else %>
    <% @picture.picture_details.each do |detail| %>
      <p><%= picture_genre(detail.genre) %></p>
      <%= image_tag(display_picture(size: "m", name: detail.name, dir: 'HAIR_PICTURE_DIR'), id: "show_picture_#{picture.id}", class: 'show_picture', alt: '画像') %>
    <% end -%>
  <% end -%>

  <div class="form-group col-sm-6 col-md-4">
    <%= f.label :length %>
    <%= f.select :length, [['ベリーショート', 'veryshort'], ['ショート', 'short'], ['ミディアム', 'medium'], ['セミロング', 'semilong'], ['ロング', 'long']], {}, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-6 col-md-4">
    <%= f.label :color %>
    <%= f.select :color, [['ブラウン・ベージュ系', 'brown'], ['イエロー・オレンジ系', 'yellow'], ['レッド・ピンク系', 'red'], ['アッシュ・ブラック系', 'black'], ['その他', 'other']], {}, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-8 col-md-6">
    <%= f.label :text %>
    <%= f.text_area :text, class: 'form-control', onkeyup: "document.getElementById('characnt').value=400 - this.value.length" %>
    <input type="text" id="characnt" disabled="disabled">
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
