<%= form_for(picture) do |f| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if controller.action_name == "new" %>
    <div class="picture_upload_area form-group col-sm-6 col-md-4">
      <%= f.label 'フロント' %>
      <%= f.file_field :picture_front, name: 'picture_front', id: 'picture_front', class: 'form-control', onchange: 'previewFile("picture_front", "#picture_front")' %>
      <%= image_tag '', name: 'picture_front' %>
    </div>

    <div class="picture_upload_area form-group col-sm-6 col-md-4">
      <%= f.label 'サイド' %>
      <%= f.file_field :picture_side, name: 'picture_side', id: 'picture_side', class: 'form-control', onchange: 'previewFile("picture_side", "#picture_side")' %>
      <%= image_tag '', name: 'picture_side' %>
    </div>

    <div class="picture_upload_area form-group col-sm-6 col-md-4">
      <%= f.label 'バック' %>
      <%= f.file_field :picture_back, name: 'picture_back', id: 'picture_back', class: 'form-control', onchange: 'previewFile("picture_back", "#picture_back")' %>
      <%= image_tag '', name: 'picture_back' %>
    </div>
  <% else %>
    <% @picture.picture_details.each do |detail| %>
      <p><%= picture_genre(detail.genre) %></p>
      <%= image_tag(display_picture(size: "m", name: detail.name, dir: 'HAIR_PICTURE_DIR'), id: "show_picture_#{picture.id}", class: 'show_picture', alt: '画像読み込みエラー') %>
    <% end -%>
  <% end -%>

  <div class="form-group col-sm-6 col-md-4">
    <%= f.label :length %>
    <%= f.select :length, ['ベリーショート', 'ショート', 'ミディアム', 'セミロング', 'ロング'], {}, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-6 col-md-4">
    <%= f.label :color %>
    <%= f.select :color, ['ブラウン・ベージュ系', 'イエロー・オレンジ系', 'レッド・ピンク系', 'アッシュ・ブラック系', 'その他'], {}, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-8 col-md-6">
    <%= f.label :text %>
    <%= f.text_area :text, class: 'form-control' %>
  </div>

  <% if current_user.admin? %>
    <%= f.fields_for :picture_option do |s| %>
      <div class="form-group col-sm-6 col-md-4">
        <%= s.label :name %>
        <%= s.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group col-sm-10 col-md-7">
        <%= s.label :profile %>
        <%= s.text_area :profile, class: 'form-control' %>
      </div>

      <div class="form-group col-sm-6 col-md-4">
        <%= s.label :shop_name %>
        <%= s.text_field :shop_name, class: 'form-control' %>
      </div>

      <div class="form-group col-sm-6 col-md-4">
        <%= s.label :shop_address %>
        <%= s.text_field :shop_address, class: 'form-control' %>
      </div>

      <div class="form-group col-sm-6 col-md-4">
        <%= s.label :shop_phone_number %>
        <%= s.text_field :shop_phone_number, class: 'form-control' %>
      </div>
    <% end -%>
  <% end -%>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
