<%= form_for(picture) do |f| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :length %>
    <%= f.select :length, ['ベリーショート', 'ショート', 'ミディアム', 'セミロング', 'ロング'] %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.select :color, ['ブラウン・ベージュ系', 'イエロー・オレンジ系', 'レッド・ピンク系', 'アッシュ・ブラック系', 'その他'] %>
  </div>

  <% if current_user.admin? %>
    <%= f.fields_for :picture_option do |s| %>
      <div class="field">
        <%= s.label :name %><br />
        <%= s.text_field :name %>
      </div>

      <div class="field">
        <%= s.label :profile %><br />
        <%= s.text_area :profile %>
      </div>

      <div class="field">
        <%= s.label :shop_name %><br />
        <%= s.text_field :shop_name %>
      </div>

      <div class="field">
        <%= s.label :shop_address %><br />
        <%= s.text_field :shop_address %>
      </div>

      <div class="field">
        <%= s.label :shop_phone_number %><br />
        <%= s.text_field :shop_phone_number %>
      </div>
    <% end -%>
  <% end -%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
