<div class="col text-center px-0">
  <li class="navbar-item btn-group">
    <%= link_to('', class: 'py-2', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' }) do %>
      <div class="search"></div>
    <% end -%>
    <div class="dropdown-menu">
      <%= form_tag({controller: '/pictures', action: :search }, method: :get) do %>
        <div class="form-group">
          <label>地域</label>
          <%= select_tag :area, options_for_select(['全国', '東京', '愛知'], selected: @area_default), class: 'form-control selectbox' %>
        </div>

        <div class="form-group checkbox">
          <label>
            <%= check_box_tag 'length[]', 'ベリーショート' %>
            <span>ベリーショート</span>
          </label>
          <label>
            <%= check_box_tag 'length[]', 'ショート' %>
            <span>ショート</span>
          </label>
          <label>
            <%= check_box_tag 'length[]', 'ミディアム' %>
            <span>ミディアム</span>
          </label>
          <br>
          <label>
            <%= check_box_tag 'length[]', 'セミロング' %>
            <span>セミロング</span>
          </label>
          <label>
            <%= check_box_tag 'length[]', 'ロング' %>
            <span>ロング</span>
          </label>
        </div>

        <button type="submit" class="btn">
          <div class="search"></div>
        </button>
      <% end -%>
      <script>
        $('.selectbox').on('click.bs.dropdown.data-api', (event) => event.stopPropagation())
        $('.checkbox').on('click.bs.dropdown.data-api', (event) => event.stopPropagation())
      </script>
    </div>
  </li>  
</div>
