<% shareUrl = ENV['SHARE_URL'].to_s + picture_id.to_s %>
<%# ツイートボタン %>
<div class="tweet">
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="へあぽち投稿画像" data-size="large" data-url="<%= shareUrl %>">Tweet</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<%# フェイスブックシェア %>
<div class="facebook">
  <% facebook_share_url = shareUrl.gsub(':','%3A') %>
  <% facebook_share_url = facebook_share_url.gsub('/','%2F') %>
  <% facebook_share_url = "https://www.facebook.com/plugins/share_button.php?href=" + facebook_share_url + "&layout=button&size=large&mobile_iframe=true&width=75&height=28&appId" %>
  <iframe src=<%= facebook_share_url.to_s %> width="75" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
<%# LINEシェアボタン %>
<div class="line">
  <div class="line-it-button" data-lang="ja" data-type="share-a" data-url="<%= shareUrl %>" style="display: none;"></div>
  <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
</div>
<%# URLをクリップボードにコピー %>
<div class="url">
  <p class="url_copy_text" id="shareUrl<%= picture_id.to_s %>"><%= shareUrl %></p>
  <button class="clipboard-btn btn btn-info btn-sm" onclick="$('#shareUrl<%= picture_id.to_s %>').css('display', 'block');" data-clipboard-action="copy" data-clipboard-target="#shareUrl<%= picture_id.to_s %>">URLをコピー</button>
</div>