<% if controller.action_name != 'show' %>
  <div class="button_area col-12 row py-1">
    <div class="col-4 text-center">
        <%#= link_to '前へ', prev_picture_path(1), class: 'prev_link', remote: true %>
    </div>
    <div class="col-4 py-2 px-0">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: block; width: 100%; margin: 0 auto;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="col-4 text-center">
      <%#= link_to '次へ', next_picture_path(1), class: 'next_link', remote: true %>
    </div>
  </div>
<% end -%>
<div class="row picture_<%= picture.id %>">
  <div class="col-sm-3 order-2 order-md-1">
    <% if user_signed_in? && (picture.user_id == current_user.id || current_user.admin) %>
      <div>
        <%= link_to '編集', edit_picture_path(picture), class: 'btn btn-primary btn-lg mx-1', target: '_blank' %>
        <%= link_to '削除', picture, method: :delete, data: { confirm: '削除してよろしいですか?' }, class: 'btn btn-danger btn-lg mx-1' %>
        <% if current_user.admin %>
          <div class="image_present">
            <%= render 'admin/administrator/image_present', picture: picture %>
          </div>
        <% end -%>
      </div>
    <% end -%>
    
    <div class="show_text_area">

      <%= render 'likes/like', picture: picture %>

      <div class="picture_show_stylist_profile_area">
        <% if picture.user.admin? && picture.picture_option.present? %>
          <p><%= simple_format(picture.text) %></p>
          <p class="stylist_name">スタイリスト:<%= picture.picture_option.name %></p>
          <span class="profile"><%= simple_format(truncate(picture.picture_option.profile, length: 100)) %></span>
          <div class="shop_area">
            <p class="shop_name">店名:<%= picture.picture_option.shop_name %></p>
            <p>住所:<%= picture.picture_option.shop_address %></p>
            <p>電話番号:<%= picture.picture_option.shop_phone_number %></p>
          </div>
        <% elsif picture.user.stylist.present? %>
          <p><%= simple_format(picture.text) %></p>
          <p class="stylist_name">スタイリスト:<%= picture.user.name %></p>
            <span class="profile"><%= simple_format(truncate(picture.user.profile, length: 100)) %></span>
            <div class="shop_area">
              <p class="shop_name">店名:<%= picture.user.stylist.shop_name %></p>
              <p>住所:<%= picture.user.stylist.shop_address %></p>
              <p>電話番号:<%= picture.user.stylist.shop_phone_number %></p>
            </div>
        <% end -%>
      </div>
      <p>長さ:<%= picture.length %></p>
      <p>カラー:<%= picture.color %></p>
    </div>
  </div>
  <div class="show_picture_area col-sm-9 order-1 order-sm-2">
    <div class="current_picture_area">
      <% if picture.picture_front.present? %>
        <p>フロント</p>
        <%= image_tag(display_picture(size: "l", name: picture.picture_front, backet: 'HAIR_PICTURE_DIR'), id: "show_picture_#{picture.id}", class: 'show_picture', alt: '画像読み込みエラー') %>
      <% end -%>
      <% if picture.picture_side.present? %>
        <p>サイド</p>
        <%= image_tag(display_picture(size: "l", name: picture.picture_side, backet: 'HAIR_PICTURE_DIR'), id: "show_picture_#{picture.id}", class: 'show_picture', alt: '画像読み込みエラー') %>
      <% end -%>
      <% if picture.picture_back.present? %>
        <p>バック</p>
        <%= image_tag(display_picture(size: "l", name: picture.picture_back, backet: 'HAIR_PICTURE_DIR'), id: "show_picture_#{picture.id}", class: 'show_picture', alt: '画像読み込みエラー') %>
      <% end -%>
    </div>
  </div>
</div>

<script>
  prev = $("#prev_next_<%= picture.id %> ._prev").text();

  if(prev == "") {
    page = $("#prev_next_<%= picture.id %> ._page").text();
    prev_page = Number(page) - 1;
    <%# 新着が前にある場合、新着のひとつ前をセットする、新着の一番最初だった場合おすすめの最後の数をセットする %>
    if(prev_page == 0) {
      prev_last = 9
    } else {
      prev_last = 12
    }

    prev = $("#news_"+prev_page+" ."+prev_last+" ._current").text();
  }

  next = $("#prev_next_<%= picture.id %> ._next").text();

  if(next == "") {
    page = $("#prev_next_<%= picture.id %> ._page").text();
    next_page = Number(page) + 1;
    <%# 新着が前にある場合、新着のひとつ前をセットする、新着の一番最初だった場合おすすめの最後の数をセットする %>
    next = $("#news_"+next_page+" .1 ._current").text();
  }

  <%# 最初にモーダルを開く時 prev current next の順で3個表示するが、$("#prev_id")を書き換えるのは最初のprevだけにしたいので、currentとnextでは書き換えないようにする %>
  <% if (defined? number) != nil %>
    <% if number == 0 %>
      $("#prev_id").text(prev);
    <% end -%>
  <% else %>
    $("#prev_id").text(prev);
  <% end -%>
  $("#next_id").text(next);
</script>