<div class="button_area col-12 row">
  <div class="col-4 text-center">
      <%= link_to '前へ', prev_picture_path(1), id: 'prev_link', remote: true %>
  </div>
  <div class="col-4 py-2 px-0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: block; width: 100%; margin: 0 auto;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="col-4 text-center">
    <%= link_to '次へ', next_picture_path(1), id: 'next_link', remote: true %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <% if user_signed_in? && (@picture.user_id == current_user.id || current_user.admin) %>
      <div>
        <%= link_to '編集', edit_picture_path(@picture), class: 'btn btn-primary btn-lg mx-2' %>
        <%= link_to '削除', @picture, method: :delete, data: { confirm: '削除してよろしいですか?' }, class: 'btn btn-danger btn-lg' %>
        <% if current_user.admin %>
          <div id="image_present">
            <%= render 'admin/administrator/image_present', picture: @picture %>
          </div>
        <% end -%>
      </div>
    <% end -%>

    <%= link_to 'インスタでみる', @picture.url, target: '_blank', class: 'btn btn-secondary btn-lg my-2 mx-2' %>
    <div class="show_text_area">

      <%= render 'likes/like', picture: @picture %>

      <div class="picture_show_stylist_profile_area">
        <% if @picture.user.admin? && @picture.picture_option.present? %>
          <p class="stylist_name">スタイリスト:<%= @picture.picture_option.name %></p>
          <spam class="profile"><%= simple_format(@picture.picture_option.profile) %></span>
          <div class="shop_area">
            <p class="shop_name">店名:<%= @picture.picture_option.shop_name %></p>
            <p>住所:<%= @picture.picture_option.shop_address %></p>
            <p>電話番号:<%= @picture.picture_option.shop_phone_number %></p>
          </div>
        <% elsif @picture.user.stylist.present? %>
          <p class="stylist_name">スタイリスト:<%= @picture.user.name %></p>
            <spam class="profile"><%= simple_format(@picture.user.profile) %></span>
            <div class="shop_area">
              <p class="shop_name">店名:<%= @picture.user.stylist.shop_name %></p>
              <p>住所:<%= @picture.user.stylist.shop_address %></p>
              <p>電話番号:<%= @picture.user.stylist.shop_phone_number %></p>
            </div>
        <% end -%>
      </div>
      <p>長さ:<%= @picture.length %></p>
      <p>カラー:<%= @picture.color %></p>
    </div>
  </div>
  <div class="show_picture_area col-sm-9">
    <%= image_tag(@picture.url + 'media/?size=l', class: 'show_picture', onError: "img_blank(#{@picture.id})", alt: '画像読み込みエラー') %>
  </div>
</div>

<script>
  prev = $("#prev_next_<%= @picture.id %> ._prev").text();
  next = $("#prev_next_<%= @picture.id %> ._next").text();
  console.log(prev);
  console.log(next);

  if(prev == "") {
    page = $("#prev_next_<%= @picture.id %> ._page").text();
    prev_page = Number(page) - 1;
    <%# 新着が前にある場合、新着のひとつ前をセットする、新着の一番最初だった場合おすすめの最後の数をセットする %>
    if(prev_page == 0) {
      prev_last = 9
    } else {
      prev_last = 12
    }

    prev = $("#news_"+prev_page+" ."+prev_last+" ._current").text();
    prev_url = $("#prev_link")[0]['href'];
    prev_url = prev_url.replace(/pictures.*prev/, 'pictures/'+prev+'/prev');
    $("#prev_link")[0]['href'] = prev_url    
  } else {
    prev_url = $("#prev_link")[0]['href'];
    prev_url = prev_url.replace(/pictures.*prev/, 'pictures/'+prev+'/prev');
    $("#prev_link")[0]['href'] = prev_url    
  }

  if(next == "") {
    page = $("#prev_next_<%= @picture.id %> ._page").text();
    next_page = Number(page) + 1;

    next = $("#news_"+next_page+" .1 ._current").text();
    next_url = $("#next_link")[0]['href'];
    next_url = next_url.replace(/pictures.*next/, 'pictures/'+next+'/next');
    $("#next_link")[0]['href'] = next_url    
  } else {
    next_url = $("#next_link")[0]['href'];
    next_url = next_url.replace(/pictures.*next/, 'pictures/'+next+'/next');
    $("#next_link")[0]['href'] = next_url
  }

  target = $("#picture_link_<%= @picture.id %>");
  $('html, body').animate({
    scrollTop: target.offset().top,
  }, 500);
</script>