<%= form_tag(bulk_create_pictures_path) do |f| %>

  <div class="field">
    <%= label_tag :urls %>
    <p>改行して複数のURLを同時に登録できます。</p>
    <%= text_area_tag :urls %>
  </div>

  <div class="field">
    <%= label_tag :length %>
    <%= select_tag :length, options_for_select(['ベリーショート', 'ショート', 'ミディアム', 'セミロング', 'ロング']) %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
