<p id="notice"><%= notice %></p>

<h1>Pictures</h1>
<%= link_to 'URL登録', new_picture_path, class: 'btn btn-primary btn-lg' %>
<% if current_user.admin %>
  <%= link_to '一括登録', bulk_new_pictures_path, class: 'btn btn-primary btn-lg' %>
<% end -%>


<div id="top_contents">
  <h2>写真をクリックすると詳細画面に飛びます。</h2>
  <%= render 'homes/news', pictures: @pictures %>
</div>

<%= render 'homes/modal_window' %>

<div class="navigation" style="visibility: hidden;">
  <%= paginate @pictures %>
</div>
<%# 無限スクロールのJS path の中の append の部分を追加する %>
<script>
  $('#top_contents').infiniteScroll({
    path: '.navigation a[rel=next]',
    append: '.news',
    history: false
  });
</script>