<h1>登録画面</h1>
<%= link_to '登録', new_picture_path, class: 'btn btn-primary btn-lg' %>


<div id="top_contents">
  <h2>投稿した画像一覧。</h2>
  <%= render 'homes/news', pictures: @pictures %>
</div>

<%= render 'homes/modal_window' %>

<div class="navigation" style="visibility: hidden;">
  <%= paginate @pictures %>
</div>
<%# 無限スクロールのJS path の中の append の部分を追加する %>
<%= render 'homes/infinite_scroll', contants: @pictures, read_class: '.news' %>