<% if @picture.present? %>
  swiper.appendSlide("<li class='swiper-slide'><%= escape_javascript(render 'show_modal_picture_area', picture: @picture) %></li>");
  $('#share_button_area<%= @picture.id %>').append("<%= escape_javascript(render 'pictures/share_button', picture_id: @picture.id) %>");

  next = $("#prev_next_<%= @picture.id %> ._next").text();

  if(next == "") {
    page = $("#prev_next_<%= @picture.id %> ._page").text();
    next_page = Number(page) + 1;
    <%# 新着が前にある場合、新着のひとつ前をセットする、新着の一番最初だった場合おすすめの最後の数をセットする %>
    next = $("#news_"+next_page+" .1 ._current").text();
  }

  <%# 無限スクロールをする為、モーダルのバックの中心を今開いてる画像にする %>
  target = $("#picture_link_<%= @picture.id %>");
  $('html, body').animate({
    scrollTop: target.offset().top,
  }, 0);

  $("#next_id").text(next);
<% end %>