<p id="notice"><%= notice %></p>

<% if user_signed_in? && @picture.user_id == current_user.id %>
  <div>
    <%= link_to 'Edit', edit_picture_path(@picture) %> |
    <%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end -%>

<%= link_to 'インスタでみる', @picture.url, target: '_blank' %>
<div class="show_text_area">

  <div class="top_button_area" >
    <a href="javascript:history.back();">
      <div class="conflict_link">
        <p>戻る</p>
      </div>
    </a>
  </div>

  <%= render 'likes/like', picture: @picture %>

  <div class="picture_show_stylist_profile_area">
    <% if @picture.user.admin? && @picture.picture_option.present? %>
      <p class="stylist_name">スタイリスト:<%= @picture.picture_option.name %></p>
      <spam class="profile"><%= simple_format(@picture.picture_option.profile) %></span>
      <div class="shop_area">
        <p class="shop_name">店名:<%= @picture.picture_option.shop_name %></p>
        <p>住所:<%= @picture.picture_option.shop_address %></p>
        <p>電話番号:<%= @picture.picture_option.shop_phone_number %></p>
      </div>
    <% elsif @picture.user.stylist.present? %>
      <p class="stylist_name">スタイリスト:<%= @picture.user.name %></p>
        <spam class="profile"><%= simple_format(@picture.user.profile) %></span>
        <div class="shop_area">
          <p class="shop_name">店名:<%= @picture.user.stylist.shop_name %></p>
          <p>住所:<%= @picture.user.stylist.shop_address %></p>
          <p>電話番号:<%= @picture.user.stylist.shop_phone_number %></p>
        </div>
    <% end -%>
  </div>
  <p>長さ:<%= @picture.length %></p>
  <p>カラー:<%= @picture.color %></p>
</div>
<div class="show_picture_area">
  <%= image_tag(@picture.url + 'media/?size=l', class: 'show_picture', onError: "img_blank(#{@picture.id})") %>
</div>