<p id="notice"><%= notice %></p>

<% if user_signed_in? && current_user.admin %>
  <div>
    <%= link_to 'Edit', edit_picture_path(@picture) %> |
    <%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end -%>

<%= link_to 'hpbでみる', @picture.url, target: '_blank' %>
<div class="show_text_area">

  <div class="top_button_area" >
    <%= link_to :back do  %>
      <div class="conflict_link">
        <p>戻る</p>
      </div>
    <% end -%>
  </div>

  <%= render 'likes/like', picture: @picture %>

  <p>長さ:<%= @picture.length %></p>
  <p>カラー:<%= @picture.color %></p>
  <p>イメージ:<%= @picture.image %></p>
</div>
<div class="show_picture_area">
  <%= image_tag(@picture.url + 'media/?size=l', class: 'show_picture', onError: "img_blank(#{@picture.id})") %>
</div>