<p id="notice"><%= notice %></p>

<div>
  <%= link_to 'Edit', edit_picture_path(@picture) %> |
  <%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<%= link_to 'インスタでみる', @picture.url, target: '_blank' %>

<div class="show_picture_area">
  <%= image_tag(@picture.picture_url, class: 'show_picture', onError: "img_blank(#{@picture.id})") %>
</div>