<% if user_signed_in? %>
  <% unless user.id == current_user.id %>
    <div class="like text-center" id="like_area">
      <% if user.follow_user(current_user.id) %>
        <%= link_to follow_follow_path(id: user.id), remote: true do %>
          <P>フォローをやめる</P>
        <% end -%>
        <span id="like_users_display">
          <% if user.follower.count > 0 %>
            <p class="likes_count"><%= user.follower_count %>人のフォロワー</p>
          <% end -%>
          <p class="likes_count"><%= user.follows_count %>人をフォローしています</p>
        </span>
      <% else %>
        <%= link_to follow_follow_path(id: user.id), remote: true do %>
          <p>フォローする</p>
        <% end -%>
        <span id="like_users_display">
          <% if user.follower.count > 0 %>
            <p class="likes_count"><%= user.follower_count %>人のフォロワー</p>
          <% end -%>
          <p class="likes_count"><%= user.follows_count %>人をフォローしています</p>
        </span>
      <% end -%>
    </div>
  <% else %>
    <div class="like text-center" id="like_area">
      <span id="like_users_display">
        <% if user.follower.count > 0 %>
          <p class="likes_count"><%= user.follower_count %>人のフォロワー</p>
        <% end -%>
        <p class="likes_count"><%= user.follows_count %>人をフォローしています</p>
      </span> 
    </div>
  <% end -%>
<% else %>
  <div class="like text-center" id="like_area">
    <p>ログインするとフォローできます</p>
    <span id="like_users_display">
      <% if user.follower.count > 0 %>
        <p class="likes_count"><%= user.follower_count %>人のフォロワー</p>
      <% end -%>
    </span> 
  </div>
<% end %>