<!DOCTYPE html>
<html>
  <head>
    <title>HairPoti</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="navbar">
        <div class="logo_area">
          <%= link_to 'トップへ', root_path %>
        </div>
        <div class="signed">
          <% if user_signed_in? %>
              <%#= link_to 'プロフィール変更', edit_user_registration_path %>
              <% if current_user.admin %>
                <%= link_to '管理者ページ', admin_administrator_index_path %>
              <% end -%>
              <% if current_user.stylist? || current_user.admin? %>
                <%= link_to '登録画面', pictures_path %>
              <% end -%>
              <%= link_to 'お気に入り', likes_likes_path %>
              <% if current_user.stylist? %>
                <%= link_to 'ユーザー情報変更', edit_stylist_path(current_user.id) %>
              <% else %>
                <%= link_to 'ユーザー情報変更', edit_user_registration_path %>
              <% end -%>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
              <%= link_to 'ユーザー登録', new_user_registration_path %>
              <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="contants">
      <%= yield %>
    </div>
  </body>
</html>
