<!DOCTYPE html>
<html>
  <head>
    <title>HairPoti</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="haeder">
      <div class="container">
        <nav id="navbar" class="navbar navbar-expand-sm navbar-light py-0">
          <%= link_to 'トップへ', root_path, class: 'navbar-brand' %>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="menu" class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                  <%#= link_to 'プロフィール変更', edit_user_registration_path %>
                  <% if current_user.admin %>
                    <li class="navbar-item"><%= link_to '管理者ページ', admin_administrator_index_path, class: 'nav-link' %></li>
                  <% end -%>
                  <%= render 'pictures/search' %>
                  <% if current_user.stylist? || current_user.admin? %>
                    <li class="navbar-item"><%= link_to '登録画面', pictures_path, class: 'nav-link' %></li>
                  <% end -%>
                  <li class="navbar-item"><%= link_to image_tag('heart_empty.png'), likes_likes_path, class: 'nav-link' %></li>
                  <% if current_user.stylist? %>
                    <li class="navbar-item"><%= link_to 'ユーザー情報変更', edit_stylist_path(current_user.id), class: 'nav-link' %></li>
                  <% else %>
                    <li class="navbar-item"><%= link_to 'ユーザー情報変更', edit_user_registration_path, class: 'nav-link' %></li>
                  <% end -%>
                  <li class="navbar-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
              <% else %>
                  <li class="navbar-item"><%= link_to 'ユーザー登録', new_user_registration_path, class: 'nav-link' %></li>
                  <li class="navbar-item"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div id="contants" class="contants">
      <div class="container px-0 py-0">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
